.todo{
    margin-top: 20px;
    left: 50%;
    right: 50%;
    width: 50%;
}

.todo-title{
    padding-top: 10px;
    text-align: center;
}

.list-title{
    margin-top: 20px;
}

.delete{
    color: red;
}

.timer-btn{
    color: black;
    margin-right: 10px !important;
}